<% wrap_layout :basic_page do %>
    <article>
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
      <br>
      <div class="details">
        <p>geschrieben von <%= current_page.data.author %></p>
        <p>veröffentlicht am <%= current_page.data.date %> </p>
      </div>
    </article>
<% end %>