<% blog.articles.each do |article| %>
  <div class="post_info">

    <h1>
      <a href="<%= article.url %>"><%= article.title%></a>
    </h1>
    <span>
      <%= article.data.summary %>
    </span>
  </div>
<% end %>