<nav class="<%= classes %>">
  <ul>

    <div class="left group">
      <li>
        <%= link_to "Home", "/index.html" %>
      </li>
    </div>

    <div class="right group">
      <li>
        <%= link_to "Über uns", "/about.html" %>
      </li>

      <li>
        <%= link_to "Infos", "/infos.html" %>
      </li>

      <li>
        <%= link_to "Blog", "/blog/index.html" %>
      </li>

      <li>
          <%= link_to "Kontakt", "https://goo.gl/forms/yKl5jIAdLHPLU8gu2" %>
      </li>

    </div>
  </ul>
</nav>
