<h1>Über uns</h1>

<section>
  <h2>Das tun wir</h2>
  <p class="important-text">
    Die Schülervertretung agiert als Sprachrohr und Interessenvertreter der Schüler.
  </p>

  <p>
    Schule ist schwer. Das wissen wir alle. Und sie ist ein komplexes Zusammenspiel vieler verschiedener Akteure, wie
    z.B. Schüler, Lehrer und Eltern, und damit das reibungslos klappt braucht es viel Organisation. Auch auf Seiten der
    Schüler. Die Schülervertretung ist eine gewählte Vereinigung von Schülern aller Altersklassen, die es sich zum Ziel
    gemacht haben aktiv bei der Schulgestaltung mitzuwirken.
  </p>
</section>

<section>
  <h2>Das sind wir</h2>
  <p>Die Schülervertretung besteht aus einer Schülersprecherin, einer Vize-Schülersprecherin, einem Internatsvertreter
    und je 3 Schülervertetern aus den Klassenstufen, 5 bis 7, 8 bis 10 und 11 bis 13.</p>
  <p>
      <strong>Hinweis:</strong> Die Emailaddressen sind fiktiv und nicht real. Sie sind Platzhalter für die echten, die in naher Zukunft eingeführt werden.
  </p>
  <ul class="member-list">
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot1.jpg' %>
      </div>
      <div class="description">
        <span class="name">Viktoria</span>
        <span class="title">Schülersprecherin</span>
        <span class="kontakt">
          <a href="mailto:viktoria@sv.cjd-rostock.de">
            viktoria@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Kyra Siever</span>
        <span class="title">Vize-Schülersprecherin</span>
        <span class="kontakt">
          <a href="mailto:kyra@sv.cjd-rostock.de">
            kyra@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Max John</span>
        <span class="title">Internatsvertreter</span>
        <span class="kontakt">
          <a href="mailto:max@sv.cjd-rostock.de">
            max@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Lusie von Stein</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:luise@sv.cjd-rostock.de">
            luise@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Cara Rippen</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:cara@sv.cjd-rostock.de">
            cara@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Fine Petzold</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:fine@sv.cjd-rostock.de">
            fine@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Wencke Kretzmar</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:wencke@sv.cjd-rostock.de">
            wencke@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/ben_bals.jpg' %>
      </div>
      <div class="description">
        <span class="name">Ben Bals</span>
        <span class="title">Schülervertreter</span>
        <span class="kontakt">
          <a href="mailto:ben@sv.cjd-rostock.de">
            ben@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Lara Neubert</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:lara@sv.cjd-rostock.de">
            lara@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Niklas Mauck</span>
        <span class="title">Schülervertreter</span>
        <span class="kontakt">
          <a href="mailto:niklas@sv.cjd-rostock.de">
            niklas@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Louis Ziegert</span>
        <span class="title">Schülervertreter</span>
        <span class="kontakt">
          <a href="mailto:louis@sv.cjd-rostock.de">
            louis@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
    <li>
      <div class="image">
        <%= image_tag 'mugshots/mock_mugshot2.jpg' %>
      </div>
      <div class="description">
        <span class="name">Marlene</span>
        <span class="title">Schülervertreterin</span>
        <span class="kontakt">
          <a href="mailto:marlene@sv.cjd-rostock.de">
            marlene@sv.cjd-rostock.de
          </a>
        </span>
      </div>
    </li>
  </ul>
</section>
