<h1>Informationen</h1>
<p>
    Hier werdet Ihr in Zukuft Links zu wichtigen Informationen finden, sowohl von uns als auch z. B. von der Schulleitung oder dem Schulelternrat, wenn wir diese finden oder sie veröffentlicht werden.
</p>
